<%- include /include/head.html %>
    <div class="g-bn">
        <div class="g-bnb">

        </div>
    </div>
    <div class="g-bd1">
        <div class="g-in">
            <div class="g-box1">
                <h2>如何诞生</h2>
                一个冬天的午后，左盐喝着茶在浏览网页，边浏览边想，NODE的研究已经结束了，然后要怎么度过这无聊没有挑战的时光呢？<br/>
                干脆，既然用js写了服务器端，那前端的东东也整理下好了，由于担心有过多的纰漏，所以左盐找到了NEC，并参考他整理出了witch UI的规范，其实CSS和JS的规范都大同小异。<br/>
                OK，浏览规范吧<br/>
                <font style="color: red;">(本规范css部分参考了NEC，网站风格也是NEC的，请原谅，谁都不是万能的)</font>
            </div>
            <div class="g-box2">
                <h2>关于WITCH UI</h2>
                本站源码地址：<a href="https://code.jd.com/huabinglan_m/witchNorm" target="_blank">witch UI</a><br/>
                <font style="color: red;">(注意：本站所有代码已抛弃IE6)</font><br/><br>
                诗之魔法：<br>
                <embed src="http://www.xiami.com/widget/0_1770446164/singlePlayer.swf" type="application/x-shockwave-flash" width="257" height="33" wmode="transparent"></embed>
            </div>
        </div>
    </div>
</body>
</html>