<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title><%=title%></title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link rel="stylesheet" type="text/css" href="/public/css/reset.css"/>
</head>
<body class="p-home">
<div class="g-hd">
    <div class="g-in">
        <h1><a href="/">Witch Node前端方案</a></h1>
    </div>
</div>
<div class="g-nv">
    <div class="g-in">
        <ul class="m-nav">
            <li class="first"><a href="/">首页</a><i></i></li>
            <li><a href="/css">CSS规范</a><i></i></li>
            <li><a href="/css/layout">CSS代码库</a><i></i></li>
            <li><a href="/js">JS规范</a><i></i></li>
            <li><a href="/jscode">JS代码库</a><i></i></li>
            <li><a href="/tool">前端工具及开发流程</a><i></i></li>
        </ul>
    </div>
</div>